<div class="bg-white border-b border-gray-100 hidden lg:block">
<div class="max-w-7xl mx-auto px-4 lg:px-8 flex justify-between items-center text-sm py-2">
<div class="flex space-x-6 text-gray-600">
<a href="#" class="hover:text-soft-blue"><i class="fa-solid fa-phone mr-1"></i> +216 56 343 111</a>
<a href="#" class="hover:text-soft-blue"><i class="fa-solid fa-envelope mr-1"></i> contact.softechtunisie.tn</a>
</div>
<div class="flex space-x-4 text-gray-600">
<a href="#" class="hover:text-soft-blue">Suivre ma commande</a>
<a href="#" class="hover:text-soft-blue">Blog</a>
</div>
</div>
</div>